
* {
    padding: 0;
    margin: 0;
}
/*
@media( orientation: portrait ){
    html {
        transform: rotate(90deg);
        transform-origin: right top;
        
        position: absolute;

        top: 100%;
        
        width: 100vh;
        height: 100vw;
        
    }
}*/

html, body{
    /* 모바일 웹 브라우저 당겨서 새로고침 막기 */
    overscroll-behavior: contain;
}

canvas {
    display: block;
    margin: 0 auto;
}

.namebox {
    width: 500px;
    height:20px;
    margin: 5px;
    padding: 10px;
    background-color: black;
    resize: none;
    color: brown;
    font-size: 18px;
}

.textbox {
    width: 500px;
    height: 300px;
    margin: 5px;
    padding: 10px;
    background-color: black;
    color: royalblue;
    resize: none;
    font-size: 18px;
    font-family: system-ui;
}

.compilebutton {
    width: 100px;
    height: 40px;
    background-color: royalblue;
    color: white;
}

.box-inner{
    text-align: center;
    width: 1200px; height: 500px;
    display:flex;
    position: relative;
    /*
    left:50%;
    transform: translateX(-50%);
    */
    margin: 0 auto;
}

.box {
    display:none;
}