
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    /* 모바일 웹 브라우저 당겨서 새로고침 막기 */
    overscroll-behavior: contain;
}

#screenbox{
    width:auto;
    height:600;
    display: flex;
    justify-content: center;
}

.startButton{
    background-color:unset;
    font-size : 80px;
    font-weight: bold;
    border: solid black 4px;
}
.startButton:hover{
    color:white;
    border: solid white 4px;
}

.backButton{
    background-color:unset;
    line-height: 60%;
    color:black;
    font-size : 80px;
    font-weight: bold;
    border: none;
}
.backButton:hover{color:white;}

.levelButton{
    background-color:unset;
    font-size : 40px;
    font-weight: bold;
    border: solid black 1px;
}
.levelButton:hover{border: solid white 3px;}

.selectMagicSceneButton{
    background-color:unset;
    font-size : 28px;
    font-weight: bold;
    border: solid black 2px;
}
.selectMagicSceneButton:hover{border: solid white 3px;}

.pvpButton{
    background-color:unset;
    font-size : 28px;
    font-weight: bold;
    border: solid purple 2px;
}
.pvpButton:hover{border: solid white 3px;}

.scroll{
    overflow: scroll;
    background-color: rgba(0,0,0,0.1);
}

.magicButton{
    border: solid black 2px;
    font-size : 20px;
    line-height: 200%;
    font-weight: bold;
    overflow: hidden;
}
.magicButton:hover{border: solid white 2px;}

.basicMagic{
    background-color: rgba(119, 138, 202,0.8);
}

.customMagic{
    background-color: rgba(65, 105, 225,0.8);
}

.selectedMagic{
    background-color: rgba(169, 190, 255, 0.8);
}

.selectMagicComponent{
    background-color: #2C2C2C;
    color : whitesmoke;
    font-size : 20px;
    font-weight: bold;
    text-align: center;
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}

.selectMagicButton{
    background-color: black;
    color:whitesmoke;
    margin:0 auto;
    border: solid rgba(0,0,0,0.2) 4px;
    border-radius: 5px;
}
.selectMagicButton:hover{border: solid white 2px;}

.stageClearText{
    vertical-align : top;
    text-align : center;
    font : bold 144px Arial;
}

.addCustomMagicButton{
    background-color: rgba(65, 105, 225,0.6);
    color:white;
    font-size : 27px;
    line-height: 200%;
    font-weight: bold;
    border-radius: 10px;
    border: solid black 4px;
}

.addCustomMagicButton:hover{border: solid white 4px;}

.magicInput{
    text-align: center;
    background-color: #2C2C2C;
    border-radius: 5px;
}

.magicInfo{
    text-align: center;
    background:#2C2C2C;
    flex:1;
    border-radius: 5px;
}

.createMagicName {
    width: 95%;
    height: 40px;
    margin: 1% 2%;
    padding: 2%;
    background-color: black;
    resize: none;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 16px;
}

.createMagicCode {
    width: 95%;
    height: 80%;
    margin: 1% 2%;
    padding: 2%;
    background-color: black;
    color: royalblue;
    resize: none;
    font-size: 18px;
    border-radius: 5px;
    font-family: system-ui;
}

.createMagicbutton {
    position:absolute;
    bottom:14px;
    right:14px;
    width: 60px;
    height: 30px;
    background-color: royalblue;
    border-radius: 5px;
    color: white;
}