
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    /* 모바일 웹 브라우저 당겨서 새로고침 막기 */
    overscroll-behavior: contain;
}

button{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* 인터넷익스플로러 */
    user-select: none;
}

#screenbox{
    width:auto;
    height:600;
    display: flex;
    justify-content: center;
}

/* 메인 화면 */
.startButton{
    background-color:unset;
    color:black;
    font-size : 80px;
    font-weight: bold;
    border: solid black 4px;
}
.startButton:hover{
    color:white;
    border: solid white 4px;
}

/* 선택 화면 */
.backButton{
    background-color:unset;
    line-height: 60%;
    color:black;
    font-size : 80px;
    font-weight: bold;
    border: none;
}
.backButton:hover{
    color:white;
}
.levelButton{
    background-color:unset;
    color:black;
    font-size : 40px;
    font-weight: bold;
    border: solid black 1px;
}
.levelButton:hover{
    color:white;
    border: solid white 3px;
}
.selectMagicSceneButton{
    background-color:unset;
    color:black;
    font-size : 28px;
    font-weight: bold;
    border: solid black 2px;
}
.selectMagicSceneButton:hover{
    color:white;
    border: solid white 3px;
}
.pvpButton{
    background-color:unset;
    font-size : 28px;
    font-weight: bold;
    border: solid purple 2px;
}
.pvpButton:hover{
    border: solid white 3px;
}

/* 마법 관련 화면 */
.scroll{
    position:static;
    overflow-y: scroll;
    overflow-x:visible;
    background-color: rgba(0,0,0,0.1);
    border: solid rgba(0,0,0,0.2) 2px;
}
.magicButton{
    color:black;
    border: solid black 2px;
    font-size : 20px;
    line-height: 200%;
    font-weight: bold;
    overflow: hidden;
}
.magicButton:hover{
    color:white;
    border: solid white 2px;
}
.basicMagic{
    background-color: rgba(119, 138, 202,0.8);
}

.customMagic{
    background-color: rgba(65, 105, 225,0.8);
}

.selectedMagic{
    background-color: rgba(63, 82, 141, 0.8);
}

.selectMagicComponent{
    background-color: rgba(0,0,0,0.5);
    color : whitesmoke;
    font-size : 24px;
    font-weight: bold;
    text-align: center;
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}

.selectMagicButton{
    background-color: rgba(0,0,0,0.5);
    color:whitesmoke;
    margin:0 auto;
    border: none;
    border-radius: 5px;
    font-size : 16px;
    line-height: 30px;
}

.selectMagicButton:hover{border: solid white 2px;}

.magicInput{
    text-align: center;
    background-color: #2C2C2C;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding-top: 5px;
}

.magicInfo{
    text-align: center;
    background:#2C2C2C;
    flex:1;
    border-radius: 5px;
}

.createMagicName {
    width: 95%;
    height: 40px;
    margin: 1% 2%;
    padding: 1.5%;
    background-color: black;
    background-color: rgba(0,0,0,0.5);
    resize: none;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.createMagicCode {
    width: 95%;
    height: 83%;
    margin: 0% 2%;
    padding: 2%;
    background-color: rgba(0,0,0,0.5);
    color: royalblue;
    resize: none;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    font-family: consolas;
}

.createMagicbutton {
    display: none;
    position:absolute;
    bottom:14px;
    right:14px;
    width: 60px;
    height: 30px;
    background-color: royalblue;
    border: solid black 2px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.createMagicbutton:hover{
    border: solid white 2px;
}

.createMagicInfo{
    font-size: 18px;
    color: white;
}

.helpSceneButton {
    color: white;
    background-color:unset;
    font-size : 36px;
    font-weight: bold;
    border: solid white 4px;
}
.helpSceneButton:hover{
    background-color:rgba(255,255,255,0.5);
}



.helpMenuButton{
    background-color:rgb(36, 36, 36);
    color:white;
    font-size : 28px;
    font-weight: bold;
    border: unset;
}
.helpMenuButton:hover{
    background-color:rgba(255,255,255,0.5);
    color:black;
}

.selectedHelpMenuButton{
    background-color: rgb(60, 60, 60);
}

.helpBackground{
    background-color: rgb(60, 60, 60);
    color:white;
    padding: 20px 40px;
    font-size: 130%;
    overflow-y: auto;
}

.helpBackground h1{
    color:royalblue;
}
.helpBackground ul,ol{
    margin: 0px 40px;
}

.helpBackground ul,ol{
    margin: 0px 40px;
}
.helpBackground input{
    width:20px;
    height:20px;
}

.helpBackground>*{
    margin:10px;
}

.stageClearText{
    vertical-align : top;
    text-align : center;
    font : bold 252px Arial;
    color:white;
    text-shadow: gold 2px 0 30px;
}

.playerDieText{
    display : flex;
    justify-content : center;
    align-items : center;
    font : bold 150px Arial;
    color:black;
    text-shadow: brown 2px 0 30px;
}

.mobileMoveButton{
    background-color: rgba(0,0,0,0.1);
    color:white;
    font-size : 70px;
    font-weight: bold;
    border: solid white 2px;
    border-radius: 5px;

}

.mobileSkillButton{
    background-color: rgba(0,0,0,0.1);
    color:white;
    font-size : 50px;
    font-weight: bold;
    border: solid white 2px;
    border-radius: 5px;
}